{
	"TargetName": "EpicWebHelper",
	"Platform": "Win64",
	"Configuration": "Shipping",
	"BuildSettingsVersion": "V6",
	"TargetBuildEnvironment": "Unique",
	"TargetType": "Program",
	"IsTestTarget": false,
	"Architecture": "x64",
	"Launch": "$(EngineDir)/Binaries/Win64/EpicWebHelper.exe",
	"Version": 
	{
		"MajorVersion": 5,
		"MinorVersion": 7,
		"PatchVersion": 0,
		"Changelist": 47537391,
		"CompatibleChangelist": 0,
		"IsLicenseeVersion": 0,
		"IsPromotedBuild": 1,
		"BranchName": "++UE5+Release-5.7",
		"BuildId": "47537391"
	},
	"BuildProducts": [
		{
			"Path": "$(EngineDir)/Binaries/Win64/EpicWebHelper.exe",
			"Type": "Executable"
		},
		{
			"Path": "$(EngineDir)/Binaries/Win64/EpicWebHelper.pdb",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Win64/tbb12.dll",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(EngineDir)/Binaries/Win64/tbbmalloc.dll",
			"Type": "DynamicLibrary"
		}
	],
	"RuntimeDependencies": [
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/chrome_100_percent.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/chrome_200_percent.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/chrome_elf.dll",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/d3dcompiler_47.dll",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/dxcompiler.dll",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/dxil.dll",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/icudtl.dat",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/libcef.dll",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/libEGL.dll",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/libGLESv2.dll",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/resources.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/af.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/am.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/ar.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/bg.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/bn.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/ca.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/cs.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/da.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/de.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/el.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/en-GB.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/en-US.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/es-419.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/es.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/et.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/fa.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/fi.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/fil.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/fr.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/gu.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/he.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/hi.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/hr.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/hu.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/id.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/it.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/ja.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/kn.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/ko.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/lt.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/lv.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/ml.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/mr.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/ms.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/nb.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/nl.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/pl.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/pt-BR.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/pt-PT.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/ro.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/ru.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/sk.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/sl.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/sr.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/sv.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/sw.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/ta.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/te.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/th.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/tr.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/uk.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/ur.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/vi.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/zh-CN.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/Resources/locales/zh-TW.pak",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/snapshot_blob.bin",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/v8_context_snapshot.bin",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/vk_swiftshader.dll",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/CEF3/Win64/128.4.13+ge76af7e+chromium-128.0.6613.138/vulkan-1.dll",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/DbgHelp/dbghelp.dll",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/Win64/tbb12.dll",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/Win64/tbbmalloc.dll",
			"Type": "NonUFS"
		}
	],
	"AdditionalProperties": [
		{
			"Name": "SDK",
			"Value": "Not Applicable"
		}
	]
}